# Node.js 相關
node_modules/
**/node_modules

npm-debug.log*
yarn.lock

# Vite 相關
dist/
.vite/

# Vue 相關
.env.local

# VSCode 相關
.vscode/

# 操作系統生成的文件
Thumbs.db
.DS_Store

# 日誌文件
logs/
*.log

# 暫存文件
*.bak
*.tmp
